/* Styles for asthetics */

@import url('../fonts/stylesheet.css');
$blue: #2196f3;
$purple: #9c31fe;
$text-light: #a1a1a1;
$text-dark: #333333;

body {
  font-family: proxima_nova_rgregular;
  color: $text-dark;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}





/* Styles for page structure */


.container-wide {
  margin-left: 5% !important;
  margin-right: 5% !important;
}

.container-md {
  margin: 0 15% 0 15%;
}

.after-wrapper {

}


/* Styles for content structure */



footer {
  background: #303030;
  color: #FFFFFF;
  padding: 1rem;
  text-align: center;
}

.generic-button {
  font-family: proxima_nova_rgbold;
  padding: 1.5rem 2.5rem;
  margin-right: -20px;
  margin-top: 20px;
  border-radius: 4px;
}

.feature {
  padding-top: 4rem;
  padding-bottom: 4rem;
  position: relative;
  .feature-header {
    text-align: center;
    p {
      font-size: 1.25rem;
      font-family: proxima_novalight;
    }
    h1 {
      font-family: proxima_novablack;
    }
  }
/**  .feature-hover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: 0;
    transition: 0.8s;
  }
  .feature-hover:hover {
    opacity: 1;
  }
  */
}


.custom-card {
  background: #fff;
  text-align: center;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.4);
  padding: 0 0 4rem 0;
  margin-bottom: 2rem;

  img {
    max-height: 200px;
    margin: 5rem auto 0 auto;
  }

  .custom-card-text {
    margin: 5rem 0 0 0;
    p {
      margin: 0 2rem;
      font-size: 0.97rem;
      line-height: 1.8rem;
      color: $text-light;
      padding: 0 2rem 0 2rem;
    }
    h6 {
      font-weight: bold;
    }
  }
}

.contact-feilds {
  form {
    input, textarea {
      color: $text-light;
      border: 0;
      background: #F4F4F4;
      padding: 0.5rem 1rem;
      margin: 1rem 0 1rem 0;
      border-radius: 4px;
      box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
    }
    textarea {
      min-height: 250px;
    }
  }
}
