/* Styles for asthetics */
@import url("../fonts/stylesheet.css");
@import url("normalize.css");
@import url("_variables.scss");
@import url("_functions.scss");
@import url("_breakpoints.scss");
/* Variables */
/* General Styles */
body {
  padding: 0;
  font-family: "Poppins", sans-serif;
}
@media only screen and (max-width: 1000px) {
  body {
    overflow-x: hidden !important;
  }
}

.wide-container {
  max-width: 1600px !important;
  margin: 0 auto;
  padding: 0 15px;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.2rem;
}

.w {
  color: #ffffff !important;
}

.r {
  color: #f1340a;
}

.dg {
  color: #555555;
}

.blk {
  color: #222222;
}

.b {
  color: #00afff;
}

.heading-subheading h1 {
  font-size: 2.2rem;
  font-weight: 600;
}
.heading-subheading h4 {
  font-size: 1.1rem;
  font-weight: 500;
}
.heading-subheading .title-separator {
  height: 3px;
  width: 60px;
  border: none;
}
.heading-subheading .dots {
  position: relative;
  border-radius: 20%;
}
.heading-subheading .dots:before {
  content: "";
  height: 5px;
  width: 5px;
  border-radius: 50%;
  position: absolute;
  top: -1px;
  bottom: 0;
  left: -10px;
  right: 0;
  background: inherit;
}
.heading-subheading .dots:after {
  content: "";
  height: 5px;
  width: 5px;
  border-radius: 50%;
  position: absolute;
  top: -1px;
  bottom: 0;
  left: 65px;
  right: 0;
  background: inherit;
}

.card-no-border {
  border: none;
  background: none;
  width: 100%;
  line-height: 1.8rem;
}
.card-no-border p {
  font-size: 0.925rem;
}
/* Button Styles */
.btn {
  padding: 1rem 2rem;
  border: none !important;
  border-radius: 2px;
  font-weight: 500;
}
.btn:hover {
  background: #5a6268 !important;
}

.btn-secondary {
  background: #f1340a;
}

.btn-primary {
  background: #00afff;
}

.btn-light {
  background: #ffffff;
}

/* Information Top Bar */
#information-bar {
  background: #f4f6fd !important;
}
@media only screen and (max-width: 1000px) {
  #information-bar {
    display: none;
  }
}

.information-bar {
  background: #f4f6fd !important;
  color: #555555;
  z-index: 2;
  font-size: 0.87rem;
}

/* Navbar Styles and Jumbotron */
.secondary-nav .navbar-brand img {
  max-width: 220px;
}
.secondary-nav .navbar-nav .active a {
  color: #00afff !important;
}
.secondary-nav .navbar-nav li {
  margin: 0 0.6rem 0 0.6rem;
}
.secondary-nav .navbar-nav li a {
  font-weight: bold;
  font-size: 0.9rem;
  color: #222222 !important;
  transition: 0.3s;
}
.secondary-nav .navbar-nav li a:hover {
  color: #00afff !important;
}

.page-header {
  background: url("../images/living_room.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}
.page-header h1 {
  font-weight: 500;
}

#banner-navbar {
  z-index: 1;
  background: url("../images/banner.jpg");
  background-size: cover;
}
#banner-navbar h1 {
  font-size: 3.75rem;
  font-weight: 600;
  width: 80%;
}
@media only screen and (max-width: 1000px) {
  #banner-navbar h1 {
    width: 100% !important;
  }
}
#banner-navbar h4 {
  line-height: 2.5rem;
}
#banner-navbar .nav-link {
  font-weight: 600;
}
@media only screen and (max-width: 1000px) {
  #banner-navbar .nav-link {
    float: right;
  }
}
@media only screen and (max-width: 1000px) {
  #banner-navbar #center-logo-navbar {
    display: none;
  }
}
#banner-navbar #mobile-navbar {
  display: none;
}
@media only screen and (max-width: 1000px) {
  #banner-navbar #mobile-navbar {
    display: flex;
  }
}
#banner-navbar #mobile-navbar .navbar-toggler {
  float: right;
}

@media only screen and (max-width: 1000px) {
  #banner-content {
    margin-top: 1rem !important;
  }
}
@media only screen and (max-width: 1000px) {
  #banner-content #banner-tagline {
    margin-bottom: 2rem;
  }
}

.banner-property-search {
  background: rgba(0, 0, 0, 0.5);
}
.banner-property-search h2 {
  font-weight: 500;
  line-height: 3.2rem;
}
.banner-property-search span {
  font-size: 0.9rem;
}

.center-brand {
  margin: 0 auto;
}
@media only screen and (max-width: 1000px) {
  .center-brand {
    display: none;
  }
}

/* Buy / Sell Homepage Styles */
#buyers-and-sellers #test_one {
  background: url("../images/buy_bg.png");
  background-size: cover;
  background-position: center;
}
#buyers-and-sellers #test_one .heading-subheading {
  margin-left: 30%;
}
@media only screen and (max-width: 1000px) {
  #buyers-and-sellers #test_one .heading-subheading {
    margin-left: 15%;
  }
}
#buyers-and-sellers #test_two {
  background: url("../images/sell_bg.png");
  background-size: cover;
  background-position: center;
}
#buyers-and-sellers #test_two .heading-subheading {
  margin-right: 30%;
}
@media only screen and (max-width: 1000px) {
  #buyers-and-sellers #test_two .heading-subheading {
    margin-right: 15%;
  }
}

/* Home Services Styles */
#home-services {
  background: url("../images/city.jpg");
  background-size: cover;
  background-position: center;
}

/* Recruitment Advertisement Styles */
#be-a-star {
  background: url("../images/woman.jpg");
  background-size: cover;
}

/* Form Styles */
input, select {
  width: 100%;
}

/* Agents list Styles */
.agent-card {
  border-radius: 10px;
  border: 1px solid #eaeaea;
}
.agent-card .col-sm-8 {
  padding-right: 2rem !important;
}
.agent-card .agent-name-and-role h4 {
  font-size: 1.2rem;
  color: #555555;
}
.agent-card .agent-name-and-role p {
  font-weight: 300;
}
.agent-card .agent-phone-and-email {
  font-size: 1rem;
  font-weight: 300;
}
.agent-card .agent-short-description {
  font-weight: 300;
  color: #a1a1a1;
}
.agent-card .agent-read-more-and-social-links a {
  border-radius: 5px;
  border-color: #00afff;
  float: right;
  margin: 0 1rem 0 0;
  text-decoration: none !important;
  font-size: 0.9rem;
  font-weight: 300;
}
.agent-card .agent-read-more-and-social-links ul {
  list-style: none;
  float: left;
}
.agent-card .agent-read-more-and-social-links ul li {
  display: inline;
}

/* Media Queries for Banner */

/*# sourceMappingURL=general.css.map */
