/* Styles for asthetics */

@import url('../fonts/stylesheet.css');
@import url('normalize.css');
@import url('_variables.scss');
@import url('_functions.scss');
@import url('_breakpoints.scss');


@mixin phone {
  @media only screen and (max-width:1000px) {
    @content;
  }
}

/* Variables */

$white: #ffffff;
$red: #f1340a;
$blue: #00afff;
$lightgrey: #a1a1a1;
$darkgrey: #555555;
$black: #222222;

/* General Styles */


body {

  padding: 0;
  font-family: 'Poppins', sans-serif;
  @include phone {
    overflow-x: hidden !important;
  }
}

.wide-container {
  max-width: 1600px !important;
  margin: 0 auto;
  padding: 0 15px;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.2rem;
}

.w {
  color: $white !important;
}

.r {
  color: $red;
}

.dg {
  color: $darkgrey;
}

.blk {
  color: $black;
}

.b {
  color: $blue;
}

.heading-subheading {
  h1 {
    font-size: 2.2rem;
    font-weight: 600;
  }
  h4 {
    font-size: 1.1rem;
    font-weight: 500;
  }
  .title-separator {
    height: 3px;
    width: 60px;
    border: none;
  }

  .dots {
    position: relative;
    border-radius: 20%;
    &:before {
      content: '';
      height: 5px;
      width: 5px;
      border-radius: 50%;
      position: absolute;
      top: -1px;
      bottom: 0;
      left: -10px;
      right: 0;
      background: inherit;
    }

    &:after {
      content: '';
      height: 5px;
      width: 5px;
      border-radius: 50%;
      position: absolute;
      top: -1px;
      bottom: 0;
      left: 65px;
      right: 0;
      background: inherit;
    }
  }
}

.card-no-border {
  border: none;
  background: none;
  width: 100%;
  line-height: 1.8rem;
  p {
    font-size: 0.925rem;
  }
  @include phone {

  }
}

/* Button Styles */

.btn {
  padding: 1rem 2rem;
  border: none !important;
  border-radius: 2px;
  font-weight: 500;
  &:hover {
    background: #5a6268 !important;
  }
}

.btn-secondary {
  background: $red;
}

.btn-primary {
  background: $blue;
}

.btn-light {
  background: $white;
}

/* Information Top Bar */

#information-bar {
  @include phone {
    display: none;
  }
  background: rgba(244,246,253,1) !important;
}

.information-bar {
  background: rgba(244,246,253,1) !important;
  color: $darkgrey;
  z-index: 2;
  font-size: 0.87rem;
}


/* Navbar Styles and Jumbotron */
.secondary-nav {
  .navbar-brand {
    img {
      max-width: 220px;
    }
  }
  .navbar-nav {
    .active {
      a {
        color: $blue !important;
      }
    }
    li {
      margin: 0 0.6rem 0 0.6rem;
      a {
        font-weight: bold;
        font-size: 0.9rem;
        color: $black !important;
        transition: 0.3s;
        &:hover {
          color: $blue !important;
        }
      }
    }
  }
}

.page-header {
  background: url('../images/living_room.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  h1 {
    font-weight: 500;
  }
}

#banner-navbar {
  z-index: 1;
  background: url("../images/banner.jpg");
  background-size: cover;
  h1 {
    font-size: 3.75rem;
    font-weight: 600;
    width: 80%;
    @include phone {
      width: 100% !important;
    }
  }
  h4 {
    line-height: 2.5rem;

  }
  .nav-link {
    font-weight: 600;
    @include phone {
      float: right;
    }
  }

  #center-logo-navbar {
    @include phone {
      display: none;
    }
  }

  #mobile-navbar {
    display:  none;
    @include phone {
      display: flex;
    }
    .navbar-toggler {
      float: right;
    }
  }
}

#banner-content {
  @include phone {
    margin-top: 1rem !important;
  }

  #banner-tagline {
    @include phone {
      margin-bottom: 2rem;
    }
  }
}

.banner-property-search {
  background: rgba(0, 0, 0, 0.5);
  h2 {
    font-weight: 500;
    line-height: 3.2rem;
  }
  span {
    font-size: 0.9rem;
  }
}

.center-brand {
  margin: 0 auto;
  @include phone {
    display: none;
  }
}

/* Buy / Sell Homepage Styles */

#buyers-and-sellers {
  #test_one {
    background: url('../images/buy_bg.png');
    background-size: cover;
    background-position: center;
    .heading-subheading {
      margin-left: 30%;
      @include phone {
        margin-left: 15%;
      }
    }
  }

  #test_two {
    background: url('../images/sell_bg.png');
    background-size: cover;
    background-position: center;
    .heading-subheading {
      margin-right: 30%;
      @include phone {
        margin-right: 15%;
      }
    }
  }
}

/* Home Services Styles */

#home-services {
  background: url('../images/city.jpg');
  background-size: cover;
  background-position: center;
}

/* Recruitment Advertisement Styles */

#be-a-star {
  background: url('../images/woman.jpg');
  background-size: cover;
}

/* Form Styles */
input, select {
  width: 100%;
}

/* Agents list Styles */
.agent-card {
  border-radius: 10px;
  border: 1px solid #eaeaea;
  .col-sm-8 {
    padding-right: 2rem !important;
  }
  .agent-name-and-role {
    h4 {
      font-size: 1.2rem;
      color: $darkgrey;
    }
    p {
      font-weight: 300;
    }
  }

  .agent-phone-and-email {
    font-size: 1rem;
    font-weight: 300;
  }

  .agent-short-description {
    font-weight: 300;
    color: $lightgrey;
  }

  .agent-read-more-and-social-links {
    a {
      border-radius: 5px;
      border-color: $blue;
      float: right;
      margin: 0 1rem 0 0;
      text-decoration: none !important;
      font-size: 0.9rem;
      font-weight: 300;

    }
    ul {
      list-style: none;
      float: left;
      li {
        display: inline;
      }
    }
  }
}

#contact-page {
  padding-top: 6rem;
  padding-bottom: 6rem;
  .heading-subheading {
    p {
      line-height: 1.9rem;
      span {
        font-weight: bold;
      }
    }
  }
}

footer {
  padding-top: 5rem;
  color: $white;
  background: url('../images/city2.jpg');
  background-size: cover;
  background-position: center;
  h1 {
    font-size: 2.3rem;
  }
  p {
    font-size: 0.9rem;
  }
  ul {
    list-style: none;
    li {
      &:before {
        content: "\2022";
        color: #00afff;
        font-weight: bold;
        display: inline-block;
        width: 1em;
        margin-left: -1em;
      }
      a {
        text-decoration: none !important;
        transition: 0.3s;
        &:hover {
          color: $blue !important;
        }
      }
    }
  }

  .footer-content {
    padding-bottom: 3rem;
  }

  .copyright {
    font-size: 0.85rem;
    text-align: center;
    border-top: 1px solid #222;
    padding: 3rem 0;
  }
}

/* Media Queries for Banner */
