/* Styles for asthetics */

@import url('../fonts/stylesheet.css');
@import url('normalize.css');
@import url('_variables.scss');
@import url('_functions.scss');
@import url('_breakpoints.scss');


@mixin phone {
  @media only screen and (max-width:1000px) {
    @content;
  }
}

/* Variables */

$white: #ffffff;
$red: #f1340a;
$blue: #00afff;
$lightgrey: #a1a1a1;
$darkgrey: #555555;
$black: #222222;

/* General Styles */


body {
  overflow-x: hidden;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.wide-container {
  max-width: 1600px !important;
  margin: 0 auto;
  padding: 0 15px;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.2rem;
}

.w {
  color: $white !important;
}

.r {
  color: $red;
}

.dg {
  color: $darkgrey;
}

.blk {
  color: $black;
}

.b {
  color: $blue;
}

.heading-subheading {
  h1 {
    font-size: 2.2rem;
    font-weight: 600;
  }
  h4 {
    font-size: 1.1rem;
    font-weight: 500;
  }
  .title-separator {
    height: 3px;
    width: 60px;
    border: none;
  }

  .dots {
    position: relative;
    border-radius: 20%;
    &:before {
      content: '';
      height: 5px;
      width: 5px;
      border-radius: 50%;
      position: absolute;
      top: -1px;
      bottom: 0;
      left: -10px;
      right: 0;
      background: inherit;
    }

    &:after {
      content: '';
      height: 5px;
      width: 5px;
      border-radius: 50%;
      position: absolute;
      top: -1px;
      bottom: 0;
      left: 65px;
      right: 0;
      background: inherit;
    }
  }
}

.card-no-border {
  border: none;
  background: none;
  width: 100%;
  line-height: 1.8rem;
  p {
    font-size: 0.925rem;
  }
  @include phone {

  }
}

/* Button Styles */

.btn {
  padding: 1rem 2rem;
  border: none !important;
  border-radius: 2px;
  font-weight: 500;
  &:hover {
    background: #5a6268 !important;
  }
}

.btn-secondary {
  background: $red;
}

.btn-primary {
  background: $blue;
}

.btn-light {
  background: $white;
}

/* Information Top Bar */

#information-bar {
  @include phone {
    display: none;
  }
}

.information-bar {
  background: rgba(244,246,253,1);
  color: $darkgrey;
  z-index: 2;
  font-size: 0.87rem;
}

/* Navbar Styles and Jumbotron */

#banner-navbar {
  z-index: 1;
  background: url("../images/banner.jpg");
  background-size: cover;
  h1 {
    font-size: 3.75rem;
    font-weight: 600;
    width: 80%;
    @include phone {
      width: 100% !important;
    }
  }
  h4 {
    line-height: 2.5rem;

  }
  .nav-link {
    font-weight: 600;
    @include phone {
      float: right;
    }
  }

  #center-logo-navbar {
    @include phone {
      display: none;
    }
  }

  #mobile-navbar {
    display:  none;
    @include phone {
      display: flex;
    }
    .navbar-toggler {
      float: right;
    }
  }
}

#banner-content {
  @include phone {
    margin-top: 1rem !important;
  }

  #banner-tagline {
    @include phone {
      margin-bottom: 2rem;
    }
  }
}

.banner-property-search {
  background: rgba(0, 0, 0, 0.5);
  h2 {
    font-weight: 500;
    line-height: 3.2rem;
  }
  span {
    font-size: 0.9rem;
  }
}

.center-brand {
  margin: 0 auto;
  @include phone {
    display: none;
  }
}

/* Buy / Sell Homepage Styles */

#buyers-and-sellers {
  #test_one {
    background: $blue;
    background-position: center;
    .heading-subheading {
      margin-left: 30%;
      @include phone {
        margin-left: 15%;
      }
    }
  }

  #test_two {
    background: url('../images/sell_bg.png');
    background-size: cover;
    background-position: center;
    .heading-subheading {
      margin-right: 30%;
      @include phone {
        margin-right: 15%;
      }
    }
  }
}

/* Home Services Styles */

#home-services {
  background: url('../images/city.jpg');
  background-size: cover;
  background-position: center;
}

/* Recruitment Advertisement Styles */

#be-a-star {
  background: url('../images/woman.jpg');
}

/* Form Styles */
input, select {
  width: 100%;
}

/* Media Queries for Banner */
